- if(typeof(product.brandName) !== "undefined")
	strong Brand Name : 
	span.blue !{product.brandName}
	br
	br
- if(typeof(product.model) !== "undefined")
	strong Model : 
	span.blue !{product.model}
	br
	br
- if(typeof(product.warranty) !== "undefined")
	strong Warranty : 
	span.blue !{product.warranty}
	br
	br
- if(typeof(product.processor) !== "undefined")
	strong Processor : 
	span.blue !{product.processor}
	br
	br
- if(typeof(product.ram) !== "undefined")
	strong RAM : 
	span.blue !{product.ram}
	br
	br
- if(typeof(product.hardDisk) !== "undefined")
	strong Hard Disk : 
	span.blue !{product.hardDisk}
	br
	br
- if(typeof(product.operatingSystem) !== "undefined")
	strong Operating System : 
	span.blue !{product.operatingSystem}
	br
	br
- if(typeof(product.weight) !== "undefined")
	strong Weight : 
	span.blue !{product.weight}
	br
	br
- if(typeof(product.length) !== "undefined" || typeof(product.width) !== "undefined" || typeof(product.height) !== "undefined")
	strong Dimensions : 
	span.blue !{product.length}" X !{product.width}" X !{product.height}"
	br
	br
- if(typeof(product.displaySize) !== "undefined")
	strong Screen Size : 
	span.blue !{product.displaySize}"
	br
	br
- if(typeof(product.resolution) !== "undefined")
	strong Resolution : 
	span.blue !{product.resolution}
	br
	br
- if(typeof(product.wireless) !== "undefined")
	strong WiFi : 
	span.blue !{product.wireless}
	br
	br
- if(typeof(product.bluetooth) !== "undefined")
	strong Bluetooth : 
	span.blue !{product.bluetooth}
	br
	br
- if(typeof(product.battery) !== "undefined")
	strong Battery : 
	span.blue !{product.battery}
	br
	br