- if(typeof(product.fuelEconomy) !== "undefined")
	strong Fuel Economy : 
	span.blue !{product.fuelEconomy} mpg
	br
	br
- if(typeof(product.transmission) !== "undefined")
	strong Transmission : 
	span.blue !{product.transmission}
	br
	br
- if(typeof(product.basicWarranty) !== "undefined")
	strong Warranty : 
	span.blue !{product.basicWarranty}
	br
	br
- if(typeof(product.bluetooth) !== "undefined")
	strong Bluetooth : 
	span.blue !{product.bluetooth}
	br
	br
- if(typeof(product.heatedSeats) !== "undefined")
	strong Heated Seats : 
	span.blue !{product.heatedSeats}
	br
	br
- if(typeof(product.engineType) !== "undefined")
	strong Engine Type : 
	span.blue !{product.engineType}
	br
	br
- if(typeof(product.totalSeating) !== "undefined")
	strong Total Seating : 
	span.blue !{product.totalSeating}
	br
	br
- if(typeof(product.cylinders) !== "undefined")
	strong Cylinders : 
	span.blue !{product.cylinders}
	br
	br
- if(typeof(product.driveTrain) !== "undefined")
	strong Drive Train : 
	span.blue !{product.driveTrain}
	br
	br
- if(typeof(product.navigation) !== "undefined")
	strong Navigation : 
	span.blue !{product.navigation}
	br
	br