- if(typeof(product.productManufacturerName) !== "undefined")
	strong Manufacturer Name : 
	span.blue !{product.productManufacturerName}
	br
	br
- if(typeof(product.type) !== "undefined")
	strong Type : 
	span.blue !{product.type}
	br
	br
- if(typeof(product.productWarranty) !== "undefined")
	strong Warranty : 
	span.blue !{product.productWarranty}
	br
	br
- if(typeof(product.screenRefreshRate) !== "undefined")
	strong Screen Refresh Rate : 
	span.blue !{product.screenRefreshRate}
	br
	br
- if(typeof(product.width) !== "undefined" || typeof(product.height) !== "undefined" )
	strong Dimensions : 
	span.blue !{product.width}" X !{product.height}"
	br
	br
- if(typeof(product.diagonalScreenSize) !== "undefined")
	strong Screen Size : 
	span.blue !{product.diagonalScreenSize}"
	br
	br
- if(typeof(product.verticalResolution) !== "undefined")
	strong Resolution : 
	span.blue !{product.verticalResolution}
	br
	br
- if(typeof(product.usbPorts) !== "undefined")
	strong USB Ports : 
	span.blue !{product.usbPorts}
	br
	br
- if(typeof(product.watts) !== "undefined")
	strong Watts : 
	span.blue !{product.watts} W
	br
	br
- if(typeof(product.speakers) !== "undefined")
	strong Speakers : 
	span.blue !{product.speakers}
	br
	br
- if(typeof(product.speakerOutput) !== "undefined")
	strong Speaker Output : 
	span.blue !{product.speakerOutput}
	br
	br
- if(typeof(product.antennaInput) !== "undefined")
	strong Antenna Input : 
	span.blue !{product.antennaInput}
	br
	br
- if(typeof(product.ethernetPort) !== "undefined")
	strong Ethernet Port : 
	span.blue !{product.ethernetPort}
	br
	br
- if(typeof(product.energyStarCertified) !== "undefined")
	strong Energy Star Certified : 
	span.blue !{product.energyStarCertified}
	br
	br
- if(typeof(product.epeatQualified) !== "undefined")
	strong EPEAT Certified : 
	span.blue !{product.epeatQualified}
	br
	br
- if(typeof(product.upc) !== "undefined")
	strong UPC : 
	span.blue !{product.upc}
	br
	br